<div (click)="closeModal()" *ngIf="show" class="modal-bg"></div>

<div *ngIf="show" class="modal w-1/4 h-auto">
  <div class="modal-header h-1/5 flex justify-between items-center mb-3">
    <h5 class="modal-title font-bold text-lg">Create a new plane</h5>
    <button (click)="closeModal()" class="text-xl font-bold">×</button>
  </div>
  <form (ngSubmit)="submitCreatePlane()"
        [formGroup]="createPlaneForm"
        autocomplete="off"
        class="space-y-4">
    <div class="modal-body h-3/5">

      <div class="flex flex-col mb-2">
        <label class="mb-1 font-semibold" for="registration">Registration</label>
        <input [class.is-invalid]="registration.invalid && registration.touched"
               [class.is-valid]="registration.valid && registration.touched"
               class="p-2 border rounded" formControlName="registration" id="registration" name="registration"
               type="text"/>
        <div *ngIf="registration.invalid && registration.touched"
             class="text-red-500 text-sm">
          <div *ngIf="registration.errors?.['required']">Registration is required</div>
          <div *ngIf="registration.errors?.['maxlength'] || registration.errors?.['minlength']">Registration must be 6
            characters long
          </div>
          <div *ngIf="registration.errors?.['registrationFormat']">Registration must contains only upper case
            characters, numbers or dashes
          </div>
        </div>
      </div>

      <div class="flex flex-col mb-2">
        <label class="mb-1 font-semibold" for="type">Type</label>
        <input [class.is-invalid]="type.invalid && type.touched"
               [class.is-valid]="type.valid && type.touched"
               class="p-2 border rounded" formControlName="type" id="type" name="type" type="text"/>
        <div *ngIf="type.invalid && type.touched"
             class="text-red-500 text-sm">
          <div *ngIf="type.errors?.['required']">Type is required</div>
          <div *ngIf="type.errors?.['maxlength']">Type must be no longer than 35 characters</div>
        </div>
      </div>


      <div class="flex flex-col mb-2">
        <label class="mb-1 font-semibold" for="pictureLink">Picture link (find a picture <a
          class="text-blue-500 underline" href="https://www.jetphotos.com/" target="_blank">here</a>)</label>
        <input [class.is-invalid]="pictureLink.invalid && pictureLink.touched"
               [class.is-valid]="pictureLink.valid && pictureLink.touched"
               class="p-2 border rounded" formControlName="pictureLink" id="pictureLink" name="pictureLink"
               type="text"/>
        <div *ngIf="pictureLink.invalid && pictureLink.touched"
             class="text-red-500 text-sm">
          <div *ngIf="pictureLink.errors?.['required']">Picture link is required</div>
          <div *ngIf="pictureLink.errors?.['maxlength']">Picture link must be no longer than 200 characters</div>
          <div *ngIf="pictureLink.errors?.['invalidUrl']">Picture link must be a valid URL</div>
        </div>
      </div>

    </div>
    <div class="modal-footer h-1/5 flex justify-end space-x-4 mt-4">
      <button
        (click)="closeModal()"
        class="text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-base px-5 py-2.5 text-center bg-red-600 hover:bg-red-700 focus:ring-red-800"
        type="button">Close
      </button>
      <button
        class="text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-base px-5 py-2.5 text-center bg-green-600 hover:bg-green-700 focus:ring-green-800"
        type="submit">Create plane
      </button>
    </div>
  </form>
</div>
