<form (ngSubmit)="submitCreateFlight()"
      [formGroup]="createFlightForm"
      autocomplete="off"
      class="space-y-4 pt-8">
  <div class="flex flex-col mb-2 w-2/5 mx-auto gap-y-4">

    <h1 class="font-bold text-2xl text-center mb-3">Create a new flight</h1>
    <div>
      <label class="mb-1 font-semibold" for="flightCategory">Category</label>
      <select [class.is-invalid]="categoryId.invalid && categoryId.touched"
              [class.is-valid]="categoryId.valid && categoryId.touched"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
              formControlName="categoryId"
              id="flightCategory">
        <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
      </select>
    </div>

    <div>
      <label class="mb-1 font-semibold" for="date">Date</label>
      <input [class.is-invalid]="date.invalid && date.touched"
             [class.is-valid]="date.valid && date.touched"
             [min]="currentDate"
             class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
             formControlName="date"
             id="date" type="datetime-local"/>
    </div>

    <div>
      <label class="mb-1 font-semibold" for="departureIcaoCode">Departure</label>
      <select [class.is-invalid]="departureIcao.invalid && departureIcao.touched"
              [class.is-valid]="departureIcao.valid && departureIcao.touched"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
              formControlName="departureIcao"
              id="departureIcaoCode">
        <option *ngFor="let airfield of airfields" [value]="airfield.icaoCode">
          {{ airfield.name }} ({{ airfield.icaoCode }}<span *ngIf="airfield.iataCode"> - {{ airfield.iataCode }}</span>)
        </option>
      </select>
    </div>

    <div>
      <label class="mb-1 font-semibold" for="arrivalIcaoCode">Arrival</label>
      <select [class.is-invalid]="arrivalIcao.invalid && arrivalIcao.touched"
              [class.is-valid]="arrivalIcao.valid && arrivalIcao.touched"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
              formControlName="arrivalIcao"
              id="arrivalIcaoCode">
        <option *ngFor="let airfield of airfields" [value]="airfield.icaoCode">
          {{ airfield.name }} ({{ airfield.icaoCode }}<span *ngIf="airfield.iataCode"> - {{ airfield.iataCode }}</span>)
        </option>
      </select>
    </div>

    <div>
      <label class="mb-1 font-semibold" for="planeRegistration">Plane</label>
      <select [class.is-invalid]="planeRegistration.invalid && planeRegistration.touched"
              [class.is-valid]="planeRegistration.valid && planeRegistration.touched"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
              formControlName="planeRegistration"
              id="planeRegistration">
        <option *ngFor="let plane of planes" [value]="plane.registration">
          {{ plane.registration }} ({{ plane.type }})
        </option>
      </select>
    </div>

    <div>
      <label class="mb-1 font-semibold" for="pilotUsername">Pilot</label>
      <select [class.is-invalid]="pilotUsername.invalid && pilotUsername.touched"
              [class.is-valid]="pilotUsername.valid && pilotUsername.touched"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
              formControlName="pilotUsername"
              id="pilotUsername">
        <option *ngFor="let pilot of pilots" [value]="pilot.username">
          {{ pilot.name }} ({{ pilot.username }})
        </option>
      </select>
    </div>
  </div>

  <div class="flex justify-center space-x-4">
    <button [routerLink]="['/']"
            class="text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-base px-5 py-2.5 text-center bg-gray-600 hover:bg-gray-700 focus:ring-gray-800"
            type="button">
      Cancel
    </button>
    <button
      class="text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-base px-5 py-2.5 text-center bg-green-600 hover:bg-green-700 focus:ring-green-800"
      type="submit">
      Submit
    </button>
  </div>
</form>
